.navbar {
    padding: 1rem 3rem;
    background-color: #282828;
}

.navbar a {
    color: white;
}

.navbar .navbar__wrapper_list a:focus {
    text-decoration: underline;
}

.navbar a:hover,
.navbar a:focus {
    color: lightgray;
}